@model Department

@{
  var name = Model.Name;
  ViewData["TitlePhrase"] = name;
}

<h2>Are you sure to you want to delete this data?</h2>

<ul class="list-group">
  <li class="list-group-item">Name : @name</li>
  <li class="list-group-item">Code : @Model.Code</li>
  <li class="list-group-item">Description : @Model.Description</li>
  <li class="list-group-item">StartDate : @Model.StartDate</li>
</ul>

<form asp-controller="Department" asp-action="Delete" method="POST">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete Anyhow!</button>
</form>